<!DOCTYPE html>
<html>
  <head>
    <title>Todo List 1</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>

  </head>

  <body>
<ul>
<% if @current_user == nil %>
  <li><a href="/user_sign_up">Sign up</a></li>
<li><a href="/user_sign_in">Sign in</a></li>
<% else %>

<li><a href="/todos">Your to do list</a></li>
<li><a href="/user_sign_in">Sign out</a></li>
<li><a href="/edit_user_profile">Edit Profile</a></li>

</ul>
<% end %>

    <%= yield %>
  </body>
</html>
